<!-- 合作伙伴 -->
<div class="coop">
    <div class="coop-title">
        COOPERATIVE PARTNER
    </div>
    <div class="coop-subtitle">
        合作伙伴
    </div>
    <div class="tp">
        <ul class="tp-box">
            <li>
                <a href="#">
                    <img src="{IMG_ADD}imgs/tp1.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{IMG_ADD}imgs/tp2.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{IMG_ADD}imgs/tp3.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{IMG_ADD}imgs/tp4.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{IMG_ADD}imgs/tp5.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="{IMG_ADD}imgs/tp6.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>