body{
    background-image: url("../../img/admin/bkg.jpg");
    background-size: cover;
    background-position: center;
}
.form-horizontal{
    width: 500px;
    height:350px;
    position: absolute;
    right:200px;top:100px;
    margin: auto;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    background: rgb(207,207,207);
}
.form-horizontal h1{
    font-size: 30px;
    text-align: center;
    padding: 10px;
}
.error{
    color:red;
}
.code-box img{
    float: left;
    margin-left: 10px;
}
.code-box span{
    float: left;
    height: 37.5px;
    line-height: 37.5px;
    margin-left: 10px;
}