<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台首页</title>
    <link rel="stylesheet" href="{CSS_ADD}admin/bootstrap.min.css">
    <link rel="stylesheet" href="{CSS_ADD}admin/index.css">
</head>
<body>
<container>
    <div class="header">
        <h1>欢迎来到后台管理系统</h1>
        <div class="logininfo">
            <span>用户：{$user}，</span>
            <span>
                <a href="/project/mvcDemo/index.php/admin/index/logout" class="btn btn-danger">退出登录</a>
            </span>
        </div>
    </div>
    <div class="main">
        <div class="left">
            <ul>
                <li>
                    <h3>用户管理</h3>
                    <ul>
                        <li>
                            <a href="/project/mvcDemo/index.php/admin/user/adduser" target="main" class="btn btn-success">添加用户</a>
                        </li>
                        <li>
                            <a href="/project/mvcDemo/index.php/admin/user/edituser" target="main" class="btn btn-primary">修改用户</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>栏目管理</h3>
                    <ul>
                        <li>
                            <a href="/project/mvcDemo/index.php/admin/category/addcate" target="main" class="btn btn-success">添加栏目</a>
                        </li>
                        <li>
                            <a href="/project/mvcDemo/index.php/admin/category" target="main" class="btn btn-primary">查看栏目</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>内容管理</h3>
                    <ul>
                        <li>
                            <a href="/project/mvcDemo/index.php/admin/content/add" target="main" class="btn btn-success">添加内容</a>
                        </li>
                        <li>
                            <a href="/project/mvcDemo/index.php/admin/content/showList" target="main" class="btn btn-primary">查看内容</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="right">
            <iframe src="" frameborder="0" name="main"></iframe>
        </div>
    </div>
    <div class="bottom">
        <div>版权信息:李凯元制作，联系方式13068015681</div>
    </div>
</container>
</body>
</html>