<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>查看内容</title>
    <link rel="stylesheet" href="{CSS_ADD}admin/bootstrap.min.css">
    <style>
        body{
            background: rgba(224,223,205,0.5);
        }
    </style>
</head>
<body>
    <a href="/project/mvcDemo/index.php/admin/content/showList" class="btn btn-primary">返回</a>
    <br>
    <h2>{$data["ctitle"]}</h2>
    <p>
        {$data["cons"]}
    </p>
</body>
</html>